/* ----- normalizar navegador ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ---- variables de colores ---- */

:root{
    --bg-color: #303030;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
}

main{
    height: 100%;
    width: 60%;
}

aside{
    background-color: rgb(186, 246, 244);
    color: white;
    width: 40%;
    height: 100%;
    font-size: 24px;
}

.perfil{
    padding: 1em;
    height: 200px;
    width: 100%;
    background-color: rgb(140, 243, 209);
    
    display: grid;
    place-items: center;

    .foto{
        border: solid 3px black;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-top: 1em;
        overflow: hidden;
    }

    .datos{
        text-align: center;
    }
}

.datosPersonales{
    width: 100%;
    background-color: rgb(255, 103, 103);
    padding: 2em;
    
    .listaDP{
        margin-top: 1em;
        flex-direction: column;
        gap: 1em;

        li{
            list-style: none;
        }
    }
}

.redes{
    min-height: 100px;
    width: 100%;
    background-color: rgb(103, 103, 255);
    padding: 2em;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.educacion{
    height: 300px;
    width: 100%;
    background-color: rgb(216, 97, 245);
    padding: 2em;
}

/* ---- colores ---- */
.bg-azul{
    background-color: blue;
}

.bg-black{
    background-color: black;
}

.txt-white{
    color: white;
}


/* ---- ordenamiento de elementos ---- */

.d-flex{
    display: flex;
}

.columna{
    flex-direction: column;
}