/* ----- normalizar navegador ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a12424;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #36802b;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 0;
    width: 100%;
    height: 100px;
}