/* ----- normalizar navegador ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ---- variables de colores ---- */

:root{
    --bg-color: #222222;
    --bg-main-color: rgb(255, 255, 255);
    --bg-aside-color: #F66969;
    --txt-aside-color: black;
    --txt-main-color: black;
    --bg-cards: #82daf5;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
}

main{
    width: 55%;
    background-color: var(--bg-main-color);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 2em;
    /* font-size: 24px; */
}

.experiencia{
    li{
        margin-left: 1.3em;
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s ease-in-out;
}

.tecnologias{

    .gridCard{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        margin-top: .8em;
        justify-content: center;

        .tarjeta{
            /* border: solid 1px var(--txt-main-color); */
            width: fit-content;
            min-width: 208px;
            height: auto;
            padding: .5em;
            display: flex;
            align-items: center;
            gap: .5em;
            font-size: 24px;
            background-color: var(--bg-cards);
            border-radius: 10px;
            user-select: none;
            i{
                font-size: 50px;
                background-color: white;
                padding: 6px 8px;
                border-radius: 10px;
                width: 60px;
                height: 60px;
            }
        }

        .tarjeta:hover{
            transform: scale(1.09);
            transition: all ease-in-out 100ms;
            cursor: pointer;
        }
        
    }

}

.lineaDeSeccion{
    padding-bottom: .3em;
    margin-bottom: .3em;
    border-bottom: solid 2px var(--txt-main-color);
}

aside{
    background-color: rgb(186, 246, 244);
    background-color: var(--bg-aside-color);
    color: var(--txt-aside-color);
    width: 25%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* font-size: 24px; */
}

.asideSection{
    width: 85%;
    align-self: center;
    color: var(--txt-aside-color);
}

.perfil{
    width: 100%;
    color: black;
    display: grid;
    place-items: center;
    padding-top: 1em;

    .foto{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
    }

    .datos{
        text-align: center;
    }
}

.datosPersonales{
    width: 100%;
    padding: 1em 2em;
    
    .listaDP{
        margin-top: 1em;
        flex-direction: column;
        gap: 1em;
        display: flex;

        li{
            list-style: none;
        }
    }
}

.redes{
    min-height: 100px;
    width: 100%;
    padding: 1em 2em;
    
    h3{
        margin-bottom: 1em;
    }

    .rejillaRedes{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        padding-bottom: .4em;
    }
}

.educacion{
    min-height: 200px;
    width: 100%;
    padding: 1em 2em;
}

/*overflow-x: auto; detecta cuando se desborda y habilita el scroll*/

/* flex-grow: 1; para que no se expanda
flex-shrink: 1; para que no se encoja
flex-basis: 100px; 
flex: 1 1 100px; para que no se expanda ni se encoja
flex: grow, shrink, basis; */

/* .tarjeta:nth-of-type(odd){
    background-color: red;
}

.tarjetaTitulo{
    font-size: 1.5em;
    font-weight: bold;
}
.tarjetaContenido{
    font-size: 1em;
    background-color: white;
    color: gray;
    padding: 1em;
    border-radius: 1em;
} */