:root{
    --background-color:#262626;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

.wrapper{
    min-height: 100vh;
    width: auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.cajaDeInfo{
    width: 90vw;
    min-height: fit-content;
    background: white;
    border: solid 1px black;
    padding: 2em;
}

#imagenDePerfil{
    height: 12em;
    border: solid 1px black;
    border-radius: 50%;
    aspect-ratio: 1; /* Se ajusta al mismo valor que el width */
    object-fit: cover;
    margin-top: 1em;
}

hr{
    margin: 2em 0 2em 0;
    border: solid 1px black;
}
