@import url(../../assets/css/tipografias.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-boton-a: rgb(20, 201, 214);
    --bg-cabecera: blueviolet;
}

body{
    background: rgb(93,93,93);
    background: radial-gradient(circle, rgba(93,93,93,1) 20%, rgba(45,45,45,1) 88%); 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    gap: 0;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .5); */
    position: relative;
    color: white;
}

.cabecera{
    height: 300px;
    width: 300px;
    background-color: var(--bg-cabecera);
    border-radius: .75em .75em 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: .8em;
}

.separadorTitulo{
    display: flex;
    flex-direction: column;
    gap: .2em;
    margin-top: .4em;
}

.fotoPerfil{
    flex: 1 1 auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: white;
}


.data{
    height: 200px;
    width: 300px;
    background-color: #fff;
    border-radius: 0 0 .75em .75em;
    overflow: hidden;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.datos{
    text-align: center;
}

.texto-blanco{
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.contenedorTarjeta{
    display: flex;
    padding: 1em;
    gap: 1em;
}

.plus{
    width: 50px;
    height: 50px;
    background-color: indianred;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: -25px;
    display: grid;
    place-items: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    font-family: none;
}

.plus:hover{
    filter: brightness(1.08);
}

.datoNumerico{
    color: black;
    text-align: center;
    width: fit-content;
    height: auto;
    padding: .2em;
    min-width: 88px;
}

.lineaNumerica{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boton-a{
    background-color: var(--bg-boton-a);
    padding: .7em 1.5em;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    /* text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.568); */
}

.boton-a:hover{
    filter: brightness(1.05);
}

.masInfo:hover{
    filter: brightness(1.3);
}

.masInfo{
    text-decoration: none;
    color: grey;
    font-size: 14px;
}